nav {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid white;
  font-size: 1.25rem;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: end;
  position: sticky;
  top: 0;
  background-color: #020212e6;
  backdrop-filter: blur(.5rem);
  z-index: 100;
  user-select: none;
}

.logo {
  font-size: 3rem;
  letter-spacing: .05rem;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.navContainer {
  height: fit-content;
  gap: 1.5rem;
}

.navLinksContainer {
  gap: 1rem;
}

.nav-links {
  transition: all 100ms ease-in-out;
  all: unset;
}

.nav-links:hover {
  margin-bottom: 2px;
  border-bottom: 2px solid white;
}

.nav-links:active {
  border-style: none;
  padding-bottom: 0;
}

.searchContainer {
  padding: .5rem;
  transition: all 100ms ease-in-out;
  border-bottom: 0;
  border-bottom: 2px solid transparent;
}

.searchContainer:focus-within {
  border-bottom: 2px solid white;
}

.searchContainer input {
  background-color: transparent;
  all: unset;
}